* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: #101010;
}

html {
  scroll-behavior: smooth;
}

.content {
  background-color: #ebebeb;
}

.content > div {
  padding-right: 80px;
  padding-left: 80px;
}

.blur-10 {
  backdrop-filter: brightness(75%) saturate(100%) blur(4px);
  -webkit-backdrop-filter: brightness(75%) saturate(100%) blur(4px);
}

.blur-2 {
  backdrop-filter: brightness(50%) saturate(90%) blur(1px);
  -webkit-backdrop-filter: brightness(50%) saturate(90%) blur(1px);
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark-plus {
  background-color: rgba(0, 0, 0, 0.6);
}

.section {
  height: 75vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
}

.full-width {
  width: 90vw;
}

.left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border-r {
  border-left: 2px solid rgba(255, 255, 255, 0.95);
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.g-80 {
  gap: 80px;
}

.g-60 {
  gap: 60px;
}

.g-40 {
  gap: 40px;
}

.g-20 {
  gap: 10px;
}

span {
  color: #f74300;
}

a {
  color: whitesmoke !important;
}

a:hover {
  text-decoration: none;
}

.section-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-content-pretitle {
  font-size: 30px;
  color: #f74300;
  font-weight: 600;
}

.section-content-title {
  font-size: 75px;
  color: black;
}

.section-content-text {
  text-align: justify;
  line-height: 1.75;
  color: black;
}

i,
img {
  height: 32px;
  width: 32px;
  color: whitesmoke;
}

.big-img {
  height: 400px;
  width: 400px;
}

.fancy-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-top: 20px;
}

.row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.fancy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  cursor: pointer;
  border: none;
  margin: 0 !important;
  text-decoration: none;
  font-size: 20px;
  background-color: #f74300;
  text-align: center;
  color: whitesmoke;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.fancy-button:hover {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background-color: #de3c00;
}

.fancy-button i {
  margin-left: 10px;
}

body .content > div:first-child {
  padding-top: 70px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 80px 0 80px;
  font-weight: 600;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

nav .nav-title {
  font-size: 26px;
  text-decoration: none;
  font-weight: 800;
  color: whitesmoke;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  gap: 2vw;
}

nav div a {
  border: 1px solid transparent;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: whitesmoke;
  height: 33px;
  vertical-align: middle;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div a:hover {
  border-bottom: 1px solid #f74300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#preamble {
  min-height: 100vh;
  background-image: url("static/pexels-chait-goli-20317582-min-_1_-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

#preamble .preamble-section-text {
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.4);
  padding: px;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 80px;
  padding-left: 80px;
}

#preamble .preamble-section-text .preamble-title {
  font-size: 140px;
  color: whitesmoke;
}

#preamble .preamble-section-text .preamble-description {
  font-size: 32px;
  text-align: justify;
  color: whitesmoke;
}

#preamble .preamble-section-text .continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 18px;
  width: 240px;
  height: 60px;
  border-radius: 25px;
  margin-top: 40px;
  font-size: 24px;
  background-color: #f74300;
  text-decoration: none;
  color: whitesmoke;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#preamble .preamble-section-text .continue:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
  background-color: #de3c00;
}

#about {
  min-height: 100vh;
}

#about .about-img {
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-img img {
  height: initial;
  width: -webkit-fill-available;
  padding: 0 60px 0 60px;
}

#offer {
  min-height: 100vh;
  background-color: #ebebeb;
  background-image: url("static/5950399608_0488b833b6_o-min-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#offer .section {
  width: 100%;
}

#offer .section .section-title-wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#offer .section .section-title-wrapper .section-content-title,
#offer .section .section-title-wrapper .section-content-text {
  color: whitesmoke;
}

#offer .section .fancy-content-wrapper {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#offer .section .fancy-content-wrapper .offer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px 40px 20px;
  border-radius: 25px;
  height: 35vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20vw;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 26px;
  background-color: rgba(247, 67, 0, 0.85);
  text-align: center;
  color: whitesmoke;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#offer .section .fancy-content-wrapper .offer-button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
  background-color: rgba(222, 60, 0, 0.85);
}

#offer .section .fancy-content-wrapper .offer-button i {
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

#offer .section .fancy-content-wrapper .offer-button i img {
  height: 60px;
  width: 60px;
}

#contact {
  min-height: 100vh;
  background-color: #ebebeb;
}

#contact .section iframe {
  padding-right: 60px;
}

#footer {
  height: 70px;
  width: 100vw;
  position: absolute;
  left: 0;
  background-color: #333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px 0 80px;
}

#footer div {
  color: whitesmoke;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .flex-center-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .border-r {
    border-left: 2px solid transparent;
  }
  .section {
    width: 100%;
  }
  #preamble .preamble-title {
    font-size: 120px !important;
  }
  #preamble .preamble-description {
    font-size: 28px !important;
  }
  #about .about-img {
    display: none;
  }
  #contact {
    height: 160vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #contact .section {
    height: 60vh;
    padding-top: 0;
  }
  #contact .section .fancy-content-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  #contact .section .fancy-content-wrapper .fancy-button {
    width: 350px;
  }
  #contact .section iframe {
    padding: 0 !important;
  }
  #footer {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media (max-width: 1024px) {
  #offer .section .fancy-content-wrapper .offer-button {
    height: 30vh;
    width: 18vw;
    padding: 30px 15px 30px 15px;
    font-size: 22px;
  }
  #offer .section .fancy-content-wrapper .offer-button i {
    height: 50px !important;
    width: 50px !important;
    margin-left: 10px !important;
  }
  #offer .section .fancy-content-wrapper .offer-button i img {
    height: 50px !important;
    width: 50px !important;
  }
  #contact .section .fancy-content-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact .section .fancy-content-wrapper .fancy-button {
    width: 290px;
    font-size: 16px;
  }
  #contact .section .fancy-content-wrapper .fancy-button i img {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 876px) {
  #offer .section .fancy-content-wrapper .offer-button {
    height: 26vh;
    width: 17vw;
    padding: 25px 10 25 10;
    font-size: 18px;
  }
  #offer .section .fancy-content-wrapper .offer-button i {
    height: 40px !important;
    width: 40px !important;
    margin-left: 8px !important;
  }
  #offer .section .fancy-content-wrapper .offer-button i img {
    height: 40px !important;
    width: 40px !important;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0 60px 0 60px;
  }
  .content > div {
    padding-right: 60px;
    padding-left: 60px;
  }
  #preamble .preamble-title {
    font-size: 112px !important;
  }
  #preamble .preamble-description {
    font-size: 24px !important;
  }
  #preamble .continue {
    height: 55px !important;
    width: 230px !important;
  }
  #contact .section iframe {
    padding-top: 60px !important;
  }
}

@media (max-width: 724px) {
  #contact .section .fancy-content-wrapper .fancy-button {
    width: 350px;
  }
}

@media (max-width: 624px) {
  #offer .section .fancy-content-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #offer .section .fancy-content-wrapper .offer-button {
    width: 350px;
    height: 50px;
    font-size: 16px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
  }
  #offer .section .fancy-content-wrapper .offer-button i {
    width: 32px !important;
    height: 32px !important;
  }
  #offer .section .fancy-content-wrapper .offer-button i img {
    width: 32px !important;
    height: 32px !important;
  }
  #footer {
    height: 15vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #footer div {
    padding: 8px;
  }
}

@media (max-width: 568px) {
  .section-content-pretitle {
    font-size: 22px;
  }
  .section-content-title {
    font-size: 60px;
  }
  nav {
    padding: 0 40px 0 40px;
  }
  .content > div {
    padding-right: 40px;
    padding-left: 40px;
  }
  #preamble .preamble-title {
    font-size: 104px !important;
  }
  #preamble .preamble-description {
    font-size: 22px !important;
  }
  #preamble .continue {
    height: 50px !important;
    width: 220px !important;
  }
}

@media (max-width: 444px) {
  nav {
    padding: 0 30px 0 30px;
  }
  .content > div {
    padding-right: 30px;
    padding-left: 30px;
  }
  #preamble .preamble-title {
    font-size: 80px !important;
  }
  #offer .section .fancy-content-wrapper .offer-button {
    width: 100%;
  }
  #offer .section .fancy-content-wrapper .offer-button i {
    width: 30px !important;
    height: 30px !important;
  }
  #offer .section .fancy-content-wrapper .offer-button i img {
    width: 30px !important;
    height: 30px !important;
  }
  #contact .section .fancy-content-wrapper .fancy-button {
    width: 100%;
  }
  #contact .section .fancy-content-wrapper .fancy-button i {
    width: 30px !important;
    height: 30px !important;
  }
  #contact .section .fancy-content-wrapper .fancy-button i img {
    width: 30px !important;
    height: 30px !important;
  }
}
/*# sourceMappingURL=style.css.map */