$color-white: rgb(245, 245, 245);
$color-black: rgb(16, 16, 16);
$border-color: rgba(255, 255, 255, 0.95);
$background-white: rgb(235, 235, 235);
$full-vh-height: 100vh;
$color-fidelibus: rgb(247, 67, 0);
$background-rgba: rgba(0, 0, 0, 0.1);
$background-rgba-plus: rgba(0, 0, 0, 0.6);
$sides-p-60: 0 60px 0 60px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: $color-black;
}
html {
  scroll-behavior: smooth;
}

.content {
  background-color: $background-white;
  & > div {
    padding-right: 80px;
    padding-left: 80px;
  }
}

.blur-10 {
  backdrop-filter: brightness(75%) saturate(100%) blur(4px);
  -webkit-backdrop-filter: brightness(75%) saturate(100%) blur(4px);
}
.blur-2 {
  backdrop-filter: brightness(50%) saturate(90%) blur(1px);
  -webkit-backdrop-filter: brightness(50%) saturate(90%) blur(1px);
}

.bg-dark {
  background-color: $background-rgba;
}
.bg-dark-plus {
  background-color: $background-rgba-plus;
}

.section {
  height: 75vh;
  width: 50%;
  display: flex;
  padding-top: 5%;
}

.full-width {
  width: 90vw;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-start;
}

.center-content {
  align-items: center;
}

.border-r {
  border-left: 2px solid $border-color;
}

.column {
  flex-direction: column;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.g-80 {
  gap: 80px;
}

.g-60 {
  gap: 60px;
}

.g-40 {
  gap: 40px;
}

.g-20 {
  gap: 10px;
}

span {
  color: $color-fidelibus;
}

a{
  color: whitesmoke!important;
  &:hover{
    text-decoration: none;
  }
}

.section-title-wrapper {
  display: flex;
  flex-direction: column;
}
.section-content-pretitle {
  font-size: 30px;
  color: $color-fidelibus;
  font-weight: 600;
}
.section-content-title {
  font-size: 75px;
  color: black;
}
.section-content-text {
  text-align: justify;
  line-height: 1.75;
  color: black;
}

i,
img {
  height: 32px;
  width: 32px;
  color: $color-white;
}
.big-img {
  height: 400px;
  width: 400px;
}

.fancy-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
}

.row {
  flex-direction: row !important;
}

.fancy-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  height: 50px;
  justify-content: space-between;
  width: 400px;
  cursor: pointer;
  border: none;
  margin: 0!important;
  text-decoration: none;
  font-size: 20px;
  background-color: $color-fidelibus;
  text-align: center;
  color: $color-white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  &:hover {
    transition: 0.1s ease-in-out;
    background-color: darken($color: $color-fidelibus, $amount: 5);
  }

  i {
    margin-left: 10px;
  }
}

body {
  .content {
    > div:first-child {
      padding-top: 70px;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 80px 0 80px;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;

  .nav-title {
    font-size: 26px;
    text-decoration: none;
    font-weight: 800;
    color: whitesmoke;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 2vw;

    a {
      border: 1px solid transparent;
      padding: 6px 12px 6px 12px;
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;
      color: whitesmoke;
      height: 33px;
      vertical-align: middle;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        border-bottom: 1px solid $color-fidelibus;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

#preamble {
  min-height: $full-vh-height;
  background-image: url("static/pexels-chait-goli-20317582-min-_1_-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;

  .preamble-section-text {
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.4);
    padding: px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;

    .preamble-title {
      font-size: 140px;
      color: whitesmoke;
    }

    .preamble-description {
      font-size: 32px;
      text-align: justify;
      color: whitesmoke;
    }

    .continue {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 18px;
      width: 240px;
      height: 60px;
      border-radius: 25px;
      margin-top: 40px;
      font-size: 24px;
      background-color: $color-fidelibus;
      text-decoration: none;
      color: $color-white;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

      &:hover {
        transition: 0.2s ease-in-out;
        box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px,
          rgba(17, 17, 26, 0.2) 0px 16px 56px,
          rgba(17, 17, 26, 0.2) 0px 24px 80px;
        background-color: darken($color: $color-fidelibus, $amount: 5);
      }
    }
  }
}

#about {
  min-height: $full-vh-height;

  .about-img {
    padding-top: 0;
    align-items: center;

    img {
      height: initial;
      width: -webkit-fill-available;
      padding: 0 60px 0 60px;
    }
  }
}

#offer {
  min-height: $full-vh-height;
  background-color: $background-white;
  background-image: url("static/5950399608_0488b833b6_o-min-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .section {
    width: 100%;

    .section-title-wrapper {
      align-self: flex-start;
      .section-content-title,
      .section-content-text {
        color: whitesmoke;
      }
    }
    .fancy-content-wrapper {
      width: 100%;
      justify-content: space-between;

      .offer-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px 20px 40px 20px;
        border-radius: 25px;
        height: 35vh;
        justify-content: space-between;
        width: 20vw;
        cursor: pointer;
        border: none;
        text-decoration: none;
        font-size: 26px;
        background-color: rgba(247, 67, 0, 0.85);
        text-align: center;
        color: $color-white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px,
          rgba(17, 17, 26, 0.1) 0px 24px 80px;
        &:hover {
          transition: 0.2s ease-in-out;
          box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px,
            rgba(17, 17, 26, 0.2) 0px 16px 56px,
            rgba(17, 17, 26, 0.2) 0px 24px 80px;
          background-color: darken($color: rgba(247, 67, 0, 0.85), $amount: 5);
        }

        i {
          height: 60px;
          width: 60px;
          margin-left: 10px;
          img {
            height: 60px;
            width: 60px;
          }
        }
      }
    }
  }
}

#contact {
  min-height: $full-vh-height;
  background-color: $background-white;

  .section {
    iframe {
      padding-right: 60px;
    }
  }
}

#footer {
  height: 70px;
  width: 100vw;
  position: absolute;
  left: 0;
  background-color: #333;
  justify-content: space-between;
  padding: 0 80px 0 80px;
  div {
    color: $color-white;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .flex-center-all {
    flex-direction: column;
  }
  .border-r {
    border-left: 2px solid transparent;
  }

  .section {
    width: 100%;
  }

  #preamble {
    .preamble-title {
      font-size: 120px !important;
    }
    .preamble-description {
      font-size: 28px !important;
    }
  }

  #about {
    .about-img {
      display: none;
    }
  }

  #contact {
    height: 160vh;
    flex-direction: column-reverse;
    .section {
      height: 60vh;
      padding-top: 0;
      .fancy-content-wrapper {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;

        .fancy-button {
          width: 350px;
        }
      }

      iframe {
        padding: 0 !important;
      }
    }
  }
  #footer {
    flex-direction: row !important;
  }
}

@media (max-width: 1024px) {
  #offer {
    .section {
      .fancy-content-wrapper {
        .offer-button {
          height: 30vh;
          width: 18vw;
          padding: 30px 15px 30px 15px;
          font-size: 22px;

          i {
            height: 50px !important;
            width: 50px !important;
            margin-left: 10px !important;
            img {
              height: 50px !important;
              width: 50px !important;
            }
          }
        }
      }
    }
  }

  #contact {
    .section {
      .fancy-content-wrapper {
        justify-content: flex-start;
        .fancy-button {
          width: 290px;
          font-size: 16px;
          i {
            img {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 876px) {
  #offer {
    .section {
      .fancy-content-wrapper {
        .offer-button {
          height: 26vh;
          width: 17vw;
          padding: 25px 10 25 10;
          font-size: 18px;

          i {
            height: 40px !important;
            width: 40px !important;
            margin-left: 8px !important;
            img {
              height: 40px !important;
              width: 40px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0 60px 0 60px;
  }

  .content {
    > div {
      padding-right: 60px;
      padding-left: 60px;
    }
  }

  #preamble {
    .preamble-title {
      font-size: 112px !important;
    }
    .preamble-description {
      font-size: 24px !important;
    }

    .continue {
      height: 55px !important;
      width: 230px !important;
    }
  }
  #contact {
    .section {
      iframe {
        padding-top: 60px !important;
      }
    }
  }
}

@media (max-width: 724px) {
  #contact {
    .section {
      .fancy-content-wrapper {
        .fancy-button {
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 624px) {
  #offer {
    .section {
      .fancy-content-wrapper {
        flex-wrap: wrap;
        .offer-button {
          width: 350px;
          height: 50px;
          font-size: 16px !important;
          flex-direction: row-reverse;
          text-align: center;
          text-align: center;
          padding: 10px 20px 10px 20px;
          i {
            width: 32px !important;
            height: 32px !important;
            img {
              width: 32px !important;
              height: 32px !important;
            }
          }
        }
      }
    }
  }

  #footer {
    height: 15vh;
    flex-direction: column !important;
    div {
      padding: 8px;
    }
  }
}

@media (max-width: 568px) {
  .section-content-pretitle {
    font-size: 22px;
  }

  .section-content-title {
    font-size: 60px;
  }

  nav {
    padding: 0 40px 0 40px;
  }

  .content {
    > div {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  #preamble {
    .preamble-title {
      font-size: 104px !important;
    }
    .preamble-description {
      font-size: 22px !important;
    }

    .continue {
      height: 50px !important;
      width: 220px !important;
    }
  }
}

@media (max-width: 444px) {
  nav {
    padding: 0 30px 0 30px;
  }

  .content {
    > div {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  #preamble {
    .preamble-title {
      font-size: 80px !important;
    }
  }

  #offer {
    .section {
      .fancy-content-wrapper {
        .offer-button {
          width: 100%;
          i {
            width: 30px !important;
            height: 30px !important;
            img {
              width: 30px !important;
              height: 30px !important;
            }
          }
        }
      }
    }
  }

  #contact {
    .section {
      .fancy-content-wrapper {
        .fancy-button {
          width: 100%;
          i {
            width: 30px !important;
            height: 30px !important;
            img {
              width: 30px !important;
              height: 30px !important;
            }
          }
        }
      }
    }
  }
}
