.cover-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.cover-page h1 {
    max-width: 80vw;
    line-height: calc(2.85rem + 1.05vw);
    text-shadow: 0 0 2px black;
}

.cover-page-title {
    font-size: calc(3rem + 6.3vw);
    line-height: calc(2.85rem + 10.6vw);
    letter-spacing: 0.8rem;
    font-weight: 500;
}

@media (max-width: 480px) {
    .cover-page-title {
        font-size: calc(2rem + 4.15vw);
    }

    .cover-page h1 {
        line-height: calc(2rem + 1.05vw);
        font-size: calc(1rem + 1.5vw);
    }
}